.navbar {
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
	background-color: #fdfcf6;
}

.navbar-logo {
	width: 70px;
	height: 70px;
	margin: 17px 0;
}

.nav-link {
	padding: 0 !important;
}

.item {
	font-family: "Poppins";
	font-size: 20px;
	font-weight: 500 !important;
	line-height: 28px;
	color: #634c2a !important;
}

.item:not(:last-child) {
	margin-right: 40px;
}

.donate-button {
	height: 52px;
	padding: 11px 30px !important;
	border-radius: 10px !important;
	background-color: #54c280 !important;
}

.donate-button,
.donate-button:active {
	outline: none;
	box-shadow: none !important;
}

.donate-button:hover {
	background-color: #47a56d !important;
}

.donate-button-text {
	margin-top: 2px;
	font-size: 20px;
	font-weight: 700 !important;
	color: #fffce5;
}

.donate-button-icon {
	padding-right: 12px !important;
}

@media (min-width: 0px) and (max-width: 992px) {
	.container {
		padding: 0 24px !important;
	}

	.navbar-logo {
		width: 32px;
		height: 32px;
		margin: 3px 0;
	}

	.navbar-toggler,
	.donate-button:active {
		border: none !important;
		outline: none;
		box-shadow: none !important;
	}

	.navbar-toggler-icon {
		background-image: url("../../assets/images/landing-page/NavbarCollapseIcon.svg") !important;
	}

	.item {
		margin-bottom: 20px;
	}

	.item:not(:last-child) {
		margin-right: 0px;
	}

	.donate-button {
		margin-bottom: 20px;
	}
}
