.countDetail,
.countBox {
	padding: 5px 30px 5px 30px !important;
	text-align: center;
	background-color: #fffdf7;
}


.counter-title{
	font-family: "Nunito";
	font-weight: 800 !important;
	font-size: 48px;
	color: #574E5A;
}

.counter-subTitle{
	font-weight: 600 !important;
	font-size: 20px;
	color: #595959;
}

.number {
	font-family: "Nunito";
	margin-top: 25px;
	font-size: 64px;
	font-weight: 900 !important;
	line-height: 58px;
	color: #574E5A;
}

.textDetail {
	font-family: Poppins;
	margin-bottom: 22px;
	font-size: 28px;
	font-weight: 600 !important;
	line-height: 36px;
	color: #574E5A;
}
