.card-class-category-name,
.card-class-category-tagline,
.card-class-text {
	font-size: 12px;
	line-height: 20px;
	color: #595959;
}

.card-class-tutor-image {
	width: 38px;
	height: 38px;
	border-radius: 50%;
}

.card-class-tutor-name {
	margin-bottom: 0;
	margin-left: 12px;
}

.card-class-tutor-name,
.card-class-daftar {
	font-size: 12px;
	font-weight: 600 !important;
	line-height: 20px;
	color: #121212;
}
