.hero {
	padding-top: 113px;
	padding-bottom: 133px;
}

.hero-title {
	margin-bottom: 20px;
	font-size: 64px;
	font-weight: 900 !important;
	line-height: 70px;
	letter-spacing: -1.4px;
	color: #574e5a;
	/* animation: fadeInUp;
	animation-duration: 3s; */
}

.hero-subTitle {
	margin-bottom: 40px;
	font-family: "Poppins";
	font-size: 20px;
	font-weight: 500 !important;
	line-height: 32px;
	letter-spacing: 0.01em;
	color: #595959;
	/* animation: fadeInUp;
	animation-duration: 3s; */
}

span {
	font-family: "Poppins" !important;
	font-weight: 700 !important;
	color: #595959;
}

.hero-image {
	width: 700px;
	margin-left: 45px;
	/* animation: fadeInUp !important;
	animation-duration: 3s !important; */
	/* transition: 1s; */
}

.mulai-belajar-button {
	height: 52px;
	padding: 12.5px 30px !important;
	border-radius: 10px !important;
	background-color: #fe933e !important;
	font-size: 18px !important;
	font-weight: 700 !important;
	color: #fffce5 !important;
}

.mulai-belajar-button-icon {
	padding-right: 12px !important;
}

.mulai-belajar-button,
.mulai-belajar-button:active {
	outline: none;
	box-shadow: none !important;
}

.mulai-belajar-button:hover {
	background-color: #e58538 !important;
}

@media (max-width: 992px) {
	.hero-section {
		flex-direction: column-reverse;
	}

	.hero-left-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.hero-title,
	.hero-subTitle {
		text-align: center;
	}
}

@media (max-width: 700px) {
	.hero-image {
		width: 450px;
		margin-right: 0;
		/* transition: 1s; */
	}
}

@media (max-width: 500px) {
	.hero-image {
		width: 370px;
	}
}

@media (max-width: 425px) {
	.hero {
		padding-top: 0px;
		padding-bottom: 45px;
	}

	.hero-title {
		font-size: 48px;
		line-height: 50px;
	}

	.hero-subTitle {
		font-size: 16px;
		line-height: 24px;
	}

	.hero-image {
		width: 300px;
	}
}
