.hero {
	background: linear-gradient(111.49deg, #ffcd82 0%, #fcfa71 99.45%);
	padding-bottom: 150px;
}

.heroImg {
	width: 480px;
	margin-top: 80px;
	margin-left: 120px;
	margin-bottom: 80px;
}

.title {
	margin-top: 80px;
	margin-bottom: 20px;
	font-weight: 600 !important;
	font-size: 75px;
	line-height: 83px;
	letter-spacing: 0.3px;
	color: #121212;
}

.subTitle {
	margin-top: 20px;
	margin-bottom: 30px;
	font-weight: 500 !important;
	font-size: 20px;
	color: #595959;
	line-height: 28px;
}
