.upcoming-class-card,
.upcoming-class-card-image,
.upcoming-class-card-button {
	border-radius: 10px !important;
}

.upcoming-class-card {
	width: 250px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* margin: 0 25px 25px 25px; */
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
	font-family: "Nunito" !important;
}

.upcoming-class-card-image {
	width: 220px;
	height: 150px;
	margin: 15px 0;
}

.upcoming-class-card-course-code {
	font-size: 16px;
	font-weight: 800;
	line-height: 24px;
	color: #634c2a;
}

.upcoming-class-card-subject-description {
	margin-top: 5px;
	font-size: 12px;
	line-height: 16px;
	color: #7d6b50;
}

.upcoming-class-card-countdown-text,
.upcoming-class-card-countdown-timer {
	color: #fe933e;
}

.upcoming-class-card-countdown-text {
	font-size: 10px;
	line-height: 16px;
}

.upcoming-class-card-countdown-timer {
	font-size: 24px;
	font-weight: 800 !important;
	line-height: 24px;
}

.upcoming-class-card-button,
.upcoming-class-card-button:active {
	outline: none;
	box-shadow: none !important;
}

.upcoming-class-card-button:hover {
	background-color: #e58538 !important;
}

.upcoming-class-card-button {
	height: 52px;
	margin-top: 20px;
	background-color: #fe933e !important;
	font-size: 18px !important;
}

@media (max-width: 425px) {
	.upcoming-class-card {
		margin: 0 15px 25px 15px;
	}
}
