.testimonial-card {
	width: 300px;
	margin: 30px 25px 0 25px;
	padding: 14px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-radius: 10px !important;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
}

.testimonial-card:hover {
	background: #fffbf9;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.testimonial-card-profile-img {
	width: 52px;
	height: 52px;
	margin-right: 15px;
	border-radius: 10px !important;
}

.testimonial-card-profile-bio-name {
	margin-bottom: 3px;
	font-size: 18px;
	font-weight: 800 !important;
	line-height: 24px;
	color: #634c2a;
}

.testimonial-card-profile-bio-edu,
.testimonial-card-profile-quote {
	font-family: "Poppins";
	font-size: 12px;
	font-weight: 400 !important;
	line-height: 16px;
	color: #7d6b50;
}

.testimonial-card-profile-quote {
	margin-top: 15px;
	text-align: justify;
}
