.testimonial-card {
	border-radius: 16px !important;
}

.testimonial-card-img {
	width: 180px;
	height: 246px;
	margin-right: 10px;
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
}

.testimonial-card-bio {
	padding: 25px;
}

.testimonial-quote,
.testimonial-name {
	color: #121212;
}

.testimonial-name {
	font-size: 16px;
	line-height: 24px;
}

.testimonial-quote {
	font-size: 14px;
	line-height: 22px;
}

.testimonial-edu {
	font-size: 12px;
	line-height: 20px;
	color: #595959;
}

@media (min-width: 0px) and (max-width: 576px) {
	.testimonial-card-body {
		flex-direction: column;
	}

	.testimonial-card-img {
		width: 100%;
		height: 224px;
		margin-right: 0;
		border-top-left-radius: 16px;
		border-top-right-radius: 16px;
		border-bottom-left-radius: 0;
	}

	.testimonial-quote,
	.testimonial-name,
	.testimonial-edu {
		text-align: center;
	}
}
