.btn:focus {
	outline: none !important;
}

.btn-donate {
	background-color: #95be5b !important;
	color: white !important;
	border-radius: 5px;
	box-shadow: 0px 4px 20px #95be5b !important;
	margin-top: 10px;
	margin-right: 121px;
	margin-bottom: 10px;
	margin-left: 12px;
	padding: 10px 30px 10px 30px !important;
}

.btn-donate:hover {
	background-color: #7ea645 !important;
}

.btn-donate:focus {
	outline: none;
	box-shadow: 0 0 0 5px rgba(119, 156, 65, 0.4) !important;
}

.btn-donate:active {
	background-color: #6b8e39 !important;
}

.btn-start {
	background-color: #fe933e !important;
	color: white !important;
	border-radius: 5px;
	box-shadow: 0px 4px 20px #fe933e !important;
	margin-top: 10px;
	margin-right: 121px;
	margin-bottom: 20px;
	padding: 10px 30px 10px 30px !important;
}

.btn-start:hover {
	background-color: #e78231 !important;
}

.btn-start:active{
    background-color: #C8681C !important;
    outline: none;
    box-shadow: 0 0 0 5px rgba(200, 104, 28, 0.3) !important;
}
