.faq-section {
	margin-top: 120px;
	margin-bottom: 220px;
	background-color: #fdfcf6 !important;
}

.faq-section-content-title {
	margin-bottom: 20px;
	font-size: 48px;
	font-weight: 800;
	line-height: 44px;
	color: #595959;
	margin-top: 40px;
}

.faq-section-content-subTitle {
	margin-bottom: 20px;
	font-family: "Poppins";
	font-size: 24px;
	font-weight: 500;
	line-height: 32px;
	color: #595959;
}

.faq-section-content-button {
	width: 180px;
	height: 52px;
	border-radius: 10px !important;
	background: #53b7dd !important;
	font-weight: 700 !important;
	font-size: 18px !important;
	color: #fff !important;
}

.faq-section-content-button,
.faq-section-content-button:active {
	outline: none;
	box-shadow: none !important;
}

.faq-section-content-button:hover {
	background: #479cbc !important;
}

.faq-section-content-button img {
	margin-right: 14px;
}

@media (min-width: 1200px) {
	.faq-section {
		width: 100%;
		max-width: 1000px !important;
	}

	.container {
		padding: 0 !important;
	}
}

@media (max-width: 425px) {
	.faq-section {
		margin-top: 80px;
		margin-bottom: 140px;
	}

	.faq-section-content-image img {
		width: 178px;
		height: 184px;
	}

	.faq-section-content-title {
		margin-bottom: 8px;
		font-size: 24px;
		line-height: 32px;
	}

	.faq-section-content-subTitle {
		font-size: 14px;
		line-height: 21px;
	}
}
