.donate-section {
	margin-top: 120px;
	background-color: #fdfcf6;
}

.donate-section-content {
	justify-content: space-between;
}

.donate-image {
	margin-left: -100px;
	width: 50%;
	height: 381px;
	border-radius: 20%;
}

.donate-text-title {
	margin-bottom: 20px;
	font-size: 48px;
	font-weight: 800 !important;
	line-height: 44px;
	color: #574e5a;
}

.donate-text-description {
	margin-bottom: 20px;
	font-family: "Poppins";
	font-size: 20px;
	line-height: 32px;
	font-weight: 500 !important;
	color: #574e5a;
}

.btn-donate {
	width: 218px;
	padding: 12.5px 30px;
	border: 2px solid #54c280 !important;
	border-radius: 10px;
}

.btn-donate:hover {
	background-color: #d7e1dc !important;
}

.btn-donate:active {
	background: #d7e1dc !important;
	border-radius: 10px !important;
}

.btn-donate-text {
	font-family: "Nunito" !important;
	font-size: 18px;
	font-weight: 700;
	color: #54c280;
}

.btn-donate-icon {
	padding-right: 17px;
}

@media (min-width: 0px) and (max-width: 1200px) {
	.donate-section-content {
		flex-direction: column;
		justify-content: center;
	}

	.donate-image {
		margin-bottom: 40px;
	}

	.donate-text {
		width: 80% !important;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.donate-text-title,
	.donate-text-description {
		text-align: center;
	}
}

@media (max-width: 992px) {
	.donate-image{
		margin-left: -40px;
		width: 450px;
	}
	.donate-text-title {
		line-height: 56px;
	}
}

@media (max-width: 576px) {
	.donate-image {
		margin-left: -26px;
		width: 350px;
		height: 330px;
	}
}

@media (max-width: 425px) {
	.donate-image {
		width: 300px;
		height: 280px;
	}

	.donate-text-title {
		font-size: 24px;
		line-height: 33px;
	}

	.donate-text-description {
		font-size: 14px;
		line-height: 21px;
	}
}
