.footer {
	background: #edcf80;
	padding-top: 100px !important;
	padding-bottom: 80px;
	border-radius: 20px 20px 0px 0px;
}

.footer-link {
	margin-right: 70px;
}

.footer-title {
	font-family: Nunito;
	font-style: normal;
	font-weight: 800;
	font-size: 28px;
	color: #634c2a;
}

ul {
	list-style-type: none;
	margin-left: 0 !important;
	padding-left: 0 !important;
}

.footer-link {
	font-family: Poppins;
	text-decoration: none;
	font-style: normal;
	font-weight: 500 !important;
	font-size: 20px;
	line-height: 28px;
	color: #634c2a;
}

.footer-link ul li {
	margin-bottom: 8px;
	padding-top: 20px;
	padding-bottom: 8px;
	color: #121212 !important;
}

.footer-link:hover {
	font-weight: 600 !important;
	color: #3d3d3d;
}

.footer-logo-img {
	width: 200px;
	margin-left: -5px;
	margin-bottom: 12px;
}

.footer-logo-text {
	width: 250px;
	margin-top: 15px !important;
	padding-top: 0 !important;
}

.footer-text {
	font-family: "Poppins";
	font-size: 12px;
	line-height: 18px;
	color: #634c2a;
}

.footer-text-bold {
	font-family: "Poppins";
	font-weight: bold;
	color: #634c2a;
}

.textBold {
	font-family: Poppins !important;
	font-weight: bold !important;
	font-size: 14px !important;
	color: #634c2a !important;
}

@media (max-width: 1200px) {
	.footer-contents {
		flex-direction: column-reverse;
	}

	.footer-logo {
		margin-bottom: 40px;
	}

	.footer-links {
		justify-content: space-between;
	}

	.footer-link {
		margin-right: 0px;
	}
}

@media (max-width: 992px) {
	.footer-links {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.footer-title-media-sosial,
	.footer-title-tautan-penting {
		width: 100px;
	}
}

@media (max-width: 575px) {
	.footer {
		padding-top: 40px !important;
	}

	.footer-title{
		word-wrap: break-word !important;
	}

	.footer-link {
		margin-right: 70px;
		margin-bottom: 40px;
	}
}

@media (max-width: 500px) {
	.footer-link:nth-child(3),
	.footer-link:last-child {
		margin-right: 0px;
	}
}

@media (max-width: 425px) {
	.footer-title-media-sosial,
	.footer-title-tautan-penting {
		width: 160px;
	}
}

@media (max-width: 365px) {
	.footer-links {
		flex-direction: column;
	}

	.footer-title-media-sosial,
	.footer-title-tautan-penting {
		width: 100%;
	}
}
