.footer {
	background: #EDCF80;
	padding-top: 100px !important;
	padding-bottom: 80px;
	border-radius: 60px 60px 0px 0px;
}

.footer-title {
	font-family: Nunito;
	font-style: normal;
	font-weight: 800;
	font-size: 28px;
	color: #634C2A;
}

ul {
	list-style-type: none;
	margin-left: 0 !important;
	padding-left: 0 !important;
}

.footer-link {
	font-family: Poppins;
	text-decoration: none;
	font-style: normal;
	font-weight: 500 !important;
	font-size: 20px;
	line-height: 28px;
	color: #634C2A;


}

li.footer-link {
	margin-bottom: 8px;
	padding-top: 20px;
	padding-bottom: 8px;
}
li.a.svg.footer-link{
	color: #121212 !important;
}
.footer-link:hover {
	font-weight: 600 !important;
	color: #3d3d3d;
}

svg#icon{
	color: #3d3d3d !important;

}

.footer-logo-img {
	width: 70px;
}

.footer-logo-text {
	width: 250px;
	margin-top: 15px !important;
	padding-top: 0 !important;
}

.footer-text {
	width:347px;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: #634C2A;
}

.footerLogo{
	
}

.col{
	margin-right: -30px;
}

ul{
	margin-top: 8px;
}

.textBold{
	font-family: Poppins !important;
	font-weight: bold !important;
	font-size: 14px !important;
	color: #634C2A !important;
}
