.faq-accordion {
	margin-top: 60px;
	margin-bottom: 40px;
}

.accordion {
	width: 810px !important;
}

.accordion-item {
	border: none !important;
	box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.accordion-button {
	padding: 12px 24px !important;
	border-top: 1.5px solid #574e5a !important;
	border-right: 1.5px solid #574e5a !important;
	border-left: 1.5px solid #574e5a !important;
	font-family: "Poppins";
	font-size: 18px !important;
	font-weight: 600;
	line-height: 24px;
}

.accordion-item:first-child .accordion-button.collapsed,
.accordion-item:first-child .accordion-button:not(.collapsed) {
	border-top-right-radius: 10px !important;
	border-top-left-radius: 10px !important;
}

.accordion-item:last-child .accordion-button.collapsed {
	border-bottom: 1.5px solid #574e5a !important;
	border-bottom-right-radius: 10px !important;
	border-bottom-left-radius: 10px !important;
}

.accordion-button,
.accordion-button:active {
	outline: none !important;
	box-shadow: none !important;
}

.accordion-button::after {
	margin: 0 !important;
}

.accordion-button.collapsed,
.accordion-button:not(.collapsed) {
	background-color: #fff !important;
	color: #634c2a !important;
}

.accordion-button.collapsed::after,
.accordion-button:not(.collapsed)::after {
	margin-top: 5px !important;
	margin-left: 14px !important;
	height: 16px;
	background-image: url("../../assets/images/ArrowIcon.svg") !important;
}

.accordion-body {
	padding: 2px 24px 24px 24px !important;
	border-right: 1.5px solid #574e5a;
	border-left: 1.5px solid #574e5a;
}

.accordion-body-last {
	border-bottom: 1.5px solid #574e5a;
	border-bottom-right-radius: 10px !important;
	border-bottom-left-radius: 10px !important;
}

.accordion-body-text {
	font-family: "Poppins";
	font-size: 14px;
	font-weight: 500;
	line-height: 22px;
	color: #7d6b50;
}

@media (max-width: 425px) {
	.faq-accordion {
		margin-top: 80px;
	}
}
