.youtube-section {
	margin-top: 120px;
	background-color: #fdfcf6;
}

.youtube-section-content {
	justify-content: space-between;
}

.youtube-text-title {
	margin-bottom: 20px;
	font-size: 48px;
	font-weight: 800 !important;
	line-height: 44px;
	color: #574e5a;
}

.youtube-text-description {
	margin-bottom: 20px;
	font-family: "Poppins";
	font-size: 20px;
	line-height: 32px;
	font-weight: 500 !important;
	color: #574e5a;
}

.btn-youtube {
	width: 165px;
	padding: 12.5px 30px;
	border: 2px solid #fb7a7a;
	border-radius: 10px;
}

.btn-youtube:hover {
	background-color: #e8dbdb !important;
}

.btn-youtube:active {
	background: #e8dbdb !important;
	border-radius: 10px !important;
}

.btn-youtube-text {
	font-size: 18px;
	font-weight: 700;
	color: #fb7a7a;
}

.btn-youtube-icon {
	padding-right: 17px;
}

.youtube-image {
	width: 500px;
	height: 380px;
	border-radius: 20%;
}

@media (min-width: 0px) and (max-width: 1200px) {
	.youtube-section-content {
		flex-direction: column-reverse;
		justify-content: center;
	}

	.youtube-text {
		width: 80% !important;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.youtube-text-title,
	.youtube-text-description {
		text-align: center;
	}

	.youtube-image {
		margin-bottom: 40px;
	}
}

@media (max-width: 992px) {
	.youtube-text-title {
		line-height: 56px;
	}
}

@media (max-width: 576px) {
	.youtube-image {
		width: 380px;
		height: 260px;
	}
}

@media (max-width: 425px) {
	.youtube-image {
		width: 275px;
		height: 187px;
	}

	.youtube-text-title {
		font-size: 24px;
		line-height: 33px;
	}

	.youtube-text-description {
		font-size: 14px;
		line-height: 21px;
	}
}
