.youtube-section {
	margin-top: 120px;
}

.youtube-title {
	font-size: 32px;
	font-weight: 600 !important;
	line-height: 40px;
}

.youtube-description {
	margin-top: 2px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400 !important;
	color: #595959;
}

.btn-youtube {
	padding: 10px 20px;
	border-radius: 10px;
	background-color: #ff0000;
	color: white;
}

.btn-youtube-link {
	font-size: 16px;
	line-height: 24px;
}

.youtube-image {
	width: 350px;
	height: 350px;
	border-radius: 20%;
}

@media (min-width: 0px) and (max-width: 992px) {
	.youtube-section {
		flex-direction: column-reverse;
	}

	.youtube-image {
		width: 280px;
		height: 280px;
		margin-bottom: 32px;
	}

	.youtube-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.youtube-title,
	.youtube-description {
		text-align: center;
	}
}
