.faq-header {
	margin-top: 80px;
	justify-content: space-around;
	align-items: center;
}

.faq-header {
	justify-content: start;
	align-items: start;
}

.faq-header-image {
	width: 100%;
	max-width: 381px;
	height: auto;
	margin-bottom: 40px;
}

.faq-header-title {
	margin-bottom: 20px;
	font-size: 48px;
	font-weight: 900;
	line-height: 70px;
	letter-spacing: -1.4px;
}

.faq-header-subTitle {
	margin-bottom: 40px;
	font-family: "Poppins";
	font-weight: 500;
	font-size: 20px;
	line-height: 32px;
	letter-spacing: 0.01em;
	color: #574e5a;
}

.faq-header-title,
.faq-footer-title,
.faq-footer-subTitle {
	color: #574e5a;
}

.faq-footer-title {
	font-size: 36px;
	font-weight: 800;
	line-height: 44px;
}

.faq-footer-subTitle {
	margin-bottom: 180px;
	margin-top: 10px;
	font-family: "Poppins";
	font-size: 20px;
	font-weight: 500;
	line-height: 32px;
}

@media (min-width: 576px) {
	.faq-footer {
		width: 720px !important;
	}
}

@media (max-width: 425px) {
	.faq-header {
		width: 207px;
		margin-top: 40px;
	}

	.faq-header-title {
		margin-bottom: 8px;
		font-size: 24px;
		line-height: 33px;
	}

	.faq-header-subTitle {
		width: 210px;
		font-size: 14px;
		line-height: 21px;
	}

	.faq-footer-title {
		font-size: 24px;
		line-height: 33px;
	}

	.faq-footer-subTitle {
		margin-bottom: 160px;
		font-size: 14px;
		line-height: 21px;
	}

	.faq-header-image {
		width: 178px;
		height: 184px;
	}
}
