.about-us-hero {
	margin-top: -200px;
	margin-bottom: 60px;
	width: 1200px;
}

.what-is-bersinar {
	padding: 60px 0;
}

.what-is-bersinar-contents {
	width: 50%;
}

.what-is-bersinar img {
	width: 310px;
	height: 310px;
	margin-left: 100px;
}

.what-is-bersinar-title {
	margin-bottom: 20px;
	font-size: 64px;
	font-weight: 900;
	line-height: 70px;
	letter-spacing: -1.4px;
	color: #574e5a;
}

.what-is-bersinar-subTitle {
	font-family: "Poppins";
	font-size: 20px;
	font-weight: 500;
	line-height: 32px;
	letter-spacing: 0.01em;
	color: #595959;
}

.president-speech {
	padding: 60px 0;
}

.president-speech-contents {
	justify-content: space-between;
	align-items: start;
}

.president-speech-image img {
	width: 455px;
	margin-right: 83px;
}

.president-speech-title {
	margin-bottom: 44px;
	font-size: 48px;
	font-weight: 800;
	line-height: 44px;
	color: #574e5a;
}

.president-speech-text h2 {
	margin-bottom: 20px;
	font-family: "Poppins";
	font-size: 32px;
	font-weight: 500;
	line-height: 40px;
	color: #484848;
}

.president-speech-text h3 {
	margin-bottom: 0;
	font-family: "Poppins";
	font-size: 20px;
	font-weight: 500;
	line-height: 32px;
	letter-spacing: 0.01em;
	text-align: justify;
	color: #595959;
}

.core-values {
	padding: 60px 0;
}

.core-title {
	margin-bottom: 20px;
	font-size: 48px;
	font-weight: 800;
	line-height: 44px;
	color: #574e5a;
	text-align: center;
}

.core-subTitle {
	margin-bottom: 40px;
	font-family: "Poppins";
	font-size: 20px;
	font-weight: 500;
	line-height: 32px;
	text-align: center;
	color: #595959;
}

.core-values-card-content {
	justify-content: center;
}

.values:nth-child(4),
.values:last-child {
	padding-top: 24px;
}

.values-card {
	width: 361px;
	height: 130px;
	border-radius: 16px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
	background: #fefefe;
}

.values:nth-child(1),
.values:nth-child(2),
.values:nth-child(4) {
	margin-right: 24px;
}

.values-card-image img {
	margin-right: 30px;
}

.values-card h3 {
	margin-bottom: 0;
	font-family: "Poppins";
	font-weight: 600;
	font-size: 24px;
	line-height: 28px;
	color: #574e5a;
}

.our-program {
	padding: 60px 0;
}

.our-program-title {
	margin-bottom: 20px;
	font-size: 48px;
	font-weight: 800;
	line-height: 36px;
	text-align: center;
	color: #484848;
}

.our-program-subTitle {
	margin-bottom: 80px;
	font-family: "Poppins";
	font-size: 20px;
	font-weight: 500;
	line-height: 32px;
	text-align: center;
	color: #574e5a;
}

.our-program-content {
	width: 500px;
}

.our-program-content:not(:last-child) {
	margin-bottom: 40px;
}

.our-program-content:first-child {
	margin-right: 90px;
}

.our-program-content-image {
	width: 500px;
	margin-bottom: 40px;
}

.our-program-content-title {
	margin-bottom: 20px;
	font-size: 36px;
	font-weight: 800;
	line-height: 44px;
	color: #574e5a;
}

.our-program-content p {
	font-family: "Poppins";
	font-size: 20px;
	font-weight: 500;
	line-height: 32px;
	color: #574e5a;
}

.visi-bersinar,
.misi-bersinar,
.bersinar-achievement {
	padding: 60px 0;
}

.visi-bersinar-title,
.misi-bersinar-title {
	margin-bottom: 40px;
	font-size: 48px;
	font-weight: 800;
	line-height: 44px;
	text-align: center;
	color: #574e5a;
}

.visi-bersinar p {
	font-family: "Poppins";
	font-size: 20px;
	font-weight: 500;
	line-height: 32px;
	text-align: center;
	letter-spacing: 0.01em;
	color: #595959;
}

.misi-bersinar-content:not(:last-child) {
	margin-bottom: 36px;
}

.misi-bersinar-content p {
	margin-left: 26px;
	font-family: "Poppins";
	font-size: 20px;
	font-weight: 500;
	line-height: 32px;
	text-align: justify;
	color: #484848;
}

.bersinar-achievement-contents {
	margin-top: -130px;
}

.bersinar-achievement-image {
	width: 385px;
	margin-right: 80px;
}

.bersinar-achievement-title {
	margin-bottom: 30px;
	font-size: 48px;
	font-weight: 800;
	line-height: 50px;
	letter-spacing: 0.003em;
	color: #484848;
}

.bersinar-achievement-text p {
	font-family: "Poppins";
	font-size: 20px;
	font-weight: 500;
	line-height: 32px;
	color: #484848;
}

.about-us-tribute {
	padding: 60px 0;
}

.about-us-tribute-header img {
	height: 333px;
	margin-top: -142px;
}

.about-us-tribute-header-title {
	margin-top: -35px;
	font-size: 64px;
	font-weight: 800;
	line-height: 87px;
	letter-spacing: 0.003em;
	color: #484848;
}

.about-us-tribute-founder {
	padding: 60px 0;
}

.about-us-tribute-vice-president {
	padding-top: 60px;
}

.about-us-tribute-founder img,
.about-us-tribute-vice-president img {
	width: 455px;
	height: 455px;
}

.about-us-tribute-founder img {
	margin-right: 83px;
}

.about-us-tribute-vice-president img {
	margin-left: 83px;
}

.about-us-tribute-founder-text h2,
.about-us-tribute-vice-president-text h2 {
	margin-bottom: 40px;
	font-size: 42px;
	font-weight: 800;
	line-height: 44px;
	color: #574e5a;
}

.about-us-tribute-founder-text h3,
.about-us-tribute-vice-president-text h3 {
	margin-bottom: 20px;
	font-family: "Poppins";
	font-size: 32px;
	font-weight: 500;
	line-height: 40px;
	color: #484848;
}

.about-us-tribute-founder-text p,
.about-us-tribute-vice-president-text p {
	font-family: "Poppins";
	font-weight: 500;
	font-size: 20px;
	line-height: 36px;
	text-align: justify;
	color: #595959;
}

.about-us-faq {
	padding: 60px 0 180px 0;
	background-color: #fdfcf6 !important;
}

.about-us-faq-content-image img {
	width: 256px;
}

.about-us-faq-content-title {
	margin-bottom: 20px;
	font-size: 48px;
	font-weight: 800;
	line-height: 44px;
	color: #595959;
	margin-top: 40px;
}

.about-us-faq-content-subTitle {
	margin-bottom: 20px;
	font-family: "Poppins";
	font-size: 24px;
	font-weight: 500;
	line-height: 32px;
	color: #595959;
}

.about-us-faq-content-button {
	width: 180px;
	height: 52px;
	border-radius: 10px !important;
	background: #53b7dd !important;
	font-weight: 700 !important;
	font-size: 18px !important;
	color: #fff !important;
}

.about-us-faq-content-button,
.about-us-faq-content-button:active {
	outline: none;
	box-shadow: none !important;
}

.about-us-faq-content-button:hover {
	background: #479cbc !important;
}

.about-us-faq-content-button img {
	margin-right: 14px;
}

@media (max-width: 1200px) {
	.core-values-card-content {
		align-items: center;
	}

	.values:nth-child(3) {
		margin-right: 24px;
		padding-top: 24px;
	}

	.misi-bersinar-content p {
		text-align: left;
	}

	.our-program-content {
		width: 350px;
	}

	.our-program-content-image {
		width: 350px;
	}
}

@media (max-width: 992px) {
	.about-us-hero {
		margin-top: -80px;
	}

	.what-is-bersinar {
		flex-direction: column-reverse;
	}

	.what-is-bersinar-contents {
		width: 100%;
		text-align: center;
	}

	.what-is-bersinar img {
		margin-left: 0;
		margin-bottom: 40px;
	}

	.president-speech-contents {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.president-speech-image img {
		margin-right: 0px;
		margin-bottom: 40px;
	}

	.president-speech-text {
		text-align: center;
	}

	.values:nth-child(1),
	.values:nth-child(2),
	.values:nth-child(3),
	.values:nth-child(4) {
		margin-right: 0px;
	}

	.values:nth-child(2) {
		padding-top: 24px;
	}

	.our-program-content {
		width: 280px;
	}

	.our-program-content-image {
		width: 280px;
	}

	.bersinar-achievement-contents {
		flex-direction: column;
	}

	.bersinar-achievement-image {
		margin-right: 0px;
	}

	.bersinar-achievement-title {
		margin-top: -80px;
	}

	.bersinar-achievement-text {
		text-align: center;
	}

	.about-us-tribute {
		padding-top: 120px;
		padding-bottom: 60px;
	}

	.about-us-tribute-founder,
	.about-us-tribute-vice-president {
		justify-content: center;
		align-items: center;
	}

	.about-us-tribute-founder img,
	.about-us-tribute-vice-president img {
		width: 400px;
		height: 400px;
	}

	.about-us-tribute-founder {
		flex-direction: column;
	}

	.about-us-tribute-vice-president {
		flex-direction: column-reverse;
	}

	.about-us-tribute-founder img {
		margin-right: 0px;
		margin-bottom: 40px;
	}

	.about-us-tribute-vice-president img {
		margin-left: 0px;
		margin-bottom: 40px;
	}

	.about-us-tribute-founder-text,
	.about-us-tribute-vice-president-text {
		text-align: center;
	}

	.about-us-tribute-founder-text h2,
	.about-us-tribute-vice-president-text h2 {
		margin-bottom: 16px;
	}
}

@media (max-width: 768px) {
	.our-program-contents {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.our-program-content {
		width: 100%;
		justify-content: center;
		align-items: center;
	}

	.our-program-content:first-child {
		margin-right: 0px;
		margin-bottom: 40px;
	}

	.our-program-content-title,
	.our-program-content p {
		text-align: center;
	}
}

@media (max-width: 576px) {
	.what-is-bersinar img {
		display: none;
	}

	.what-is-bersinar-title {
		margin-top: -110px;
		font-size: 48px;
		line-height: 50px;
	}

	.what-is-bersinar-subTitle {
		font-size: 16px;
		line-height: 24px;
	}

	.president-speech-image img {
		width: 300px;
	}

	.president-speech-title,
	.core-title {
		font-size: 36px;
	}

	.president-speech-text h2 {
		font-size: 28px;
		line-height: 36px;
	}

	.president-speech-text h3 {
		font-size: 16px;
		line-height: 24px;
	}

	.values-card h3 {
		font-size: 20px;
		line-height: 28px;
	}

	.visi-bersinar-title,
	.misi-bersinar-title,
	.our-program-title {
		font-size: 36px;
	}

	.visi-bersinar-title {
		margin-bottom: 20px;
	}

	.core-subTitle,
	.visi-bersinar p,
	.misi-bersinar-content p,
	.our-program-subTitle,
	.our-program-content p {
		font-size: 16px;
		line-height: 24px;
	}

	.our-program-title {
		margin-bottom: 8px;
	}

	.our-program-subTitle {
		margin-bottom: 40px;
	}

	.our-program-content-image {
		margin-bottom: 20px;
	}

	.our-program-content-title {
		margin-bottom: 10px;
		font-size: 28px;
		line-height: 36px;
	}

	.about-us-tribute-founder img,
	.about-us-tribute-vice-president img {
		width: 300px;
		height: 300px;
		margin-bottom: 20px;
	}
}

@media (max-width: 425px) {
	.about-us-hero {
		margin-top: -20px;
		width: 400px;
	}

	.president-speech-title {
		margin-bottom: 20px;
		font-size: 24px;
		line-height: 33px;
	}

	.president-speech-text h2 {
		margin-bottom: 16px;
		font-size: 20px;
		line-height: 28px;
	}

	.president-speech-text h3 {
		font-size: 14px;
		line-height: 21px;
	}

	.core-title,
	.our-program-title {
		font-size: 24px;
		line-height: 33px;
	}

	.core-subTitle,
	.our-program-subTitle,
	.our-program-content p {
		font-size: 14px;
		line-height: 21px;
	}

	.values-card-image1,
	.values-card-image2,
	.values-card-image3,
	.values-card-image4,
	.values-card-image5 {
		width: 75px;
	}

	.values-card h3 {
		font-size: 16px;
		line-height: 24px;
	}

	.president-speech,
	.visi-bersinar,
	.misi-bersinar {
		padding: 30px 0;
	}

	.visi-bersinar-title,
	.misi-bersinar-title,
	.bersinar-achievement-title,
	.about-us-tribute-founder-text h2,
	.about-us-tribute-vice-president-text h2 {
		font-size: 24px;
		line-height: 33px;
	}

	.misi-bersinar-title {
		margin-bottom: 20px;
	}

	.visi-bersinar p,
	.misi-bersinar-content p,
	.bersinar-achievement-text p,
	.about-us-tribute-founder-text p,
	.about-us-tribute-vice-president-text p {
		font-size: 14px;
		line-height: 21px;
	}

	.our-program-content-title {
		font-size: 20px;
		line-height: 28px;
	}

	.bersinar-achievement-title,
	.about-us-tribute-founder-text h2,
	.about-us-tribute-vice-president-text h2 {
		margin-bottom: 8px;
	}

	.bersinar-achievement-image {
		width: 300px;
	}

	.bersinar-achievement-contents {
		margin-top: -100px;
	}

	.about-us-tribute {
		padding-top: 80px;
		padding-bottom: 40px;
	}

	.about-us-tribute-header-title {
		margin-top: -15px;
		font-size: 48px;
		line-height: 50px;
	}

	.about-us-tribute-founder {
		padding: 30px 0;
	}

	.about-us-tribute-vice-president {
		padding-top: 30px;
	}

	.about-us-tribute-founder img,
	.about-us-tribute-vice-president img {
		width: 230px;
		height: 230px;
	}

	.about-us-tribute-founder-text h3,
	.about-us-tribute-vice-president-text h3 {
		font-size: 18px;
		line-height: 26px;
	}

	.about-us-faq {
		padding: 40px 0 140px 0;
	}

	.about-us-faq-content-image img {
		width: 178px;
		height: 184px;
	}

	.about-us-faq-content-title {
		margin-bottom: 8px;
		font-size: 24px;
		line-height: 32px;
	}

	.about-us-faq-content-subTitle {
		font-size: 14px;
		line-height: 21px;
	}
}
