.faqBox {
	height: 206px;
	padding: 64px;
	position: relative;
	margin-top: 180px;
	margin-bottom: -80px;
	border-radius: 20px !important;
	background-color: #fffdf7;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
	z-index: 2;
}

.faqBox-title {
	font-weight: 600 !important;
	font-size: 38px;
	color: #121212;
}

.faqBox-subtitle {
	text-align: left;
	font-weight: 500 !important;
	font-size: 18px;
	line-height: 27px;
	color: #595959;
}
/* faq */
.btn-faq {
	margin-top: 12px;
	margin-bottom: 20px;
	padding: 10px !important;
	border-radius: 5px;
	background-color: #fe933e !important;
	color: white !important;
	box-shadow: 0px 4px 20px #fe933e !important;
}

.btn-faq:hover {
	background-color: #e78231 !important;
}

.btn-faq:active {
	background-color: #c8681c !important;
	outline: none;
	box-shadow: 0 0 0 5px rgba(200, 104, 28, 0.3) !important;
}

@media (min-width: 0px) and (max-width: 992px) {
	.faqBox {
		height: 320px;
		flex-direction: column;
	}
	.faq-box-text{
		margin-top: -30px !important;
	}
	.btn-faq{
		padding: 0;
		margin: 0;
		position: sticky;
	}
	.faqBox-title,
	.faqBox-subtitle {
		text-align: center;
	}
}
