.upcoming-class {
	padding-top: 120px;
	background-color: #fffdf7;
}

.upcoming-class-header-title,
.upcoming-class-footer-title {
	font-weight: 800 !important;
	line-height: 44px;
	color: #574e5a;
}

.upcoming-class-header-title {
	margin-bottom: 20px;
	font-size: 48px;
}

.upcoming-class-gaada-kelas {
	width: 296px;
}

.upcoming-class-footer-title {
	font-size: 36px;
	margin-bottom: 0px;
}

.upcoming-class-header-subTitle,
.upcoming-class-footer-subTitle {
	font-family: "Poppins";
	font-size: 20px;
	font-weight: 500 !important;
	line-height: 32px;
	text-align: center;
	color: #595959;
}

.upcoming-class-header-subTitle {
	margin-bottom: 40px;
}

.upcoming-class-footer-subTitle {
	margin-bottom: 20px;
}

.upcoming-class-footer-button,
.upcoming-class-footer-button:active {
	outline: none;
	box-shadow: none !important;
}

.upcoming-class-footer-button:hover {
	background: #e8ded5 !important;
	border: 2px solid #e58538 !important;
	color: #e58538 !important;
}

.upcoming-class-footer-button {
	height: 172px;
	height: 52px;
	padding: 12.5px 30px !important;
	border: 2px solid #706275 !important;
	border-radius: 10px !important;
	background-color: transparent !important;
	font-size: 18px !important;
	color: #574e5a !important;
}

@media (min-width: 425px) and (max-width: 992px) {
	.upcoming-class {
		padding-top: 120px;
		background-color: #fffdf7;
	}
}

@media (max-width: 425px) {
	.upcoming-class {
		padding-top: 52px;
	}

	.upcoming-class-header-title,
	.upcoming-class-footer-title {
		margin-bottom: 6px;
		font-size: 24px;
		line-height: 33px;
	}

	.upcoming-class-gaada-kelas {
		width: 175px;
	}

	.upcoming-class-header-subTitle,
	.upcoming-class-footer-subTitle {
		font-size: 14px;
		line-height: 21px;
	}

	.upcoming-class-footer-subTitle {
		margin-bottom: 24px;
	}
}
