.intro {
	margin-top: 120px;
	animation: fadeInUp;
	animation-duration: 6s;
}

.introImg {
	width: 370px;
}

.intro-right-section {
	margin-left: 28px;
}

.intro-title {
	font-size: 28px;
	font-weight: 600 !important;
	line-height: 36px;
	color: #121212;
}

.intro-subTitle {
	margin-top: 16px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400 !important;
	color: #595959;
}

@media (min-width: 0px) and (max-width: 992px) {
	.intro-section {
		flex-direction: column;
	}

	.intro-right-section {
		margin-left: 0px;
	}

	.intro-title,
	.intro-subTitle {
		width: 100%;
		text-align: center;
	}

	.introImg {
		width: 300px;
		margin-left: 0;
		margin-bottom: 24px;
	}
}
